body, html {
  margin: 0;
  padding: 0;
  /*font-family: 'Lato', sans-serif;*/
}

/*-------NAVBAR---------*/
.navbarOne{
  display: flex;
  background-color: white;
  justify-content:space-between;
}

.navbarOne img{
  height: 75px;
  width: 125px;
  margin: 0px, 0px, 0px, 0px;
  padding-left: 15px;

}

.navbarLogin{
  background-color: blue;
  width: 450px;
  align-items: stretch;
}

#login-button img{
  height: 15px;
  width: 15px;
}

.landingPageButton1{
  width: 185px;
	height: 185px;
	background: #F5993C;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 90px;
  border-style: none;
  position: absolute;
  top: 278px;
  left: 640px;
}

.landingPageButton2{
  width: 185px;
	height: 185px;
	background: #F5993C;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 90px;
  border-style: none;
  position: absolute;
  top: 275px;
  left: 240px;
}

.landingPageButtons img{
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
  left: 0;
}
