body, html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/*---------LANDING PAGE -------------*/
/*-------NAVBAR---------*/
.navbarParent{
  display:flex;
  justify-content: space-between;

}
.navbarOne{
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
}

.navbarSignUp{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbarTwo{
  display:flex;
  margin-right: 35px;
  background-color: white;
}

h4.login{
  margin: 0 0 0 0;
}

.inputBox{
  border-radius: 9px;
  border: 1px solid #A9A9A9;
  width: 150px;
  height: 25px;
  margin-top: 30px;
  margin-left: 10px;
  background-color: white;
}

.navbarOne img{
  height: 60px;
  width: 135px;
  margin: 0px, 0px, 0px, 0px;
  padding-left: 15px;
}

button.loginButton{
  background: transparent;
  border-width: 0px;
  padding: 10px 0px 0px 5px;
}

.loginButton img{
  align-items: center;
  background: transparent;
  padding: 20px 0px 0px 0px;
  border: none;
  width: 20px;
  height: 20px;
  border-width: 0px;
}

.landingPageButtons{
  display: flex;
  align-items: center;
  background-color: purple;
  height: 650px;
  overflow: hidden;
}

h2.landingButtonTitle {
  font-family: Avantgarde, sans-serif;
  color: white;
  font-size: 2em;
}

.landingPageButton1{
  width: 185px;
	height: 185px;
	background: #F5993C;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 90px;
  border-style: none;
  position: absolute;
  top: 315px;
  left: 700px;
  opacity: 0.6;
}

.landingPageButton1:hover, .landingPageButton2:hover{
  background-color: #8227A4;
}

button:hover{
  cursor: pointer;
}

.landingPageButton2{
  width: 185px;
	height: 185px;
	background: #F5993C;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 90px;
  border-style: none;
  position: absolute;
  top: 315px;
  left: 350px;
  opacity: 0.6;
}

.landTitleText{
  position: absolute;
  top: 130px;
  left: 145px;
  color: white;
  font-size: 17px;
  font-family: 'Gotham A', 'Gotham B', Arial, sans-serif;
  line-height: 60px;
  text-shadow: 0 4px 3px black, 0 -3px 1px rgba(0,0,0,.1), 0 8px 8px rgba(0,0,0,.1);
}

.landingButtonTitle1{
position: absolute;
top: 365px;
left: 725px;
color: white;
font-size: 1.7em;
}

.landingButtonTitle2{
  position: absolute;
  top: 365px;
  left: 380px;
  color: white;
  font-size: 1.7em;
}

.landingPageButtons img{
  height: auto;
  width: 100%;
  margin: 0 0 0 0;
}
/*---------REGISTRATION PAGE -------------*/

.navbarBorder{
  border-bottom: 2px solid gray;
  padding-top: 10px;
}

.receiveIntro1{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 40px 10px 20px 10px;
  color: #7D5AB5;
  text-shadow: 0 1px 0px black, 0 -3px 1px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.1);
}

form.regPage{
  display: flex;
  justify-content: center;
}

.regPageBox1{
  flex-direction: column;
  background-color: white;
  width: 447px;
  height: 441px;
  border-radius: 15px;
  border: 1px solid #6E3083;
  position: absolute;
  top: 210px;
  left: 190px;
}

.regPageBox2{
  flex-direction: column;
  background-color: white;
  width: 356px;
  height: 237px;
  border-radius: 15px;
  border: 1px solid #6E3083;
  position: absolute;
  top: 295px;
  left: 690px;
}

.registerButton{
  width: 189px;
  height: 43px;
  background-color: #EE8F52;
  border-radius: 15px;
  position: absolute;
  top: 565px;
  left: 775px;
  border: none;
  font-family: Avantgarde, sans-serif;
}

.regPageBoxA{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.regA{
  width: 300px;
  height: 30px;
  margin-top: 17px;
}

.regPageBox2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regPageBoxB{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.regPageAssist{
  color: #998F8F;
  font-family: Helvetica, sans-serif;
}

.regPageAssist2{
  margin-top: 10px;
  margin-bottom:10px;
  color: #998F8F;
  font-family: Helvetica, sans-serif;
}
